In [2]:
import numpy as np
import pandas as pd

Number of commericial airports

In [4]:
comercial_airports =pd.read_csv("./datasets/avia_if_arp.tsv",delimiter="\t")
comercial_airports.head()

,"tra_infr,geo\time",2021,2020,2019,2018,2017,2016,2015,2014,2013,...,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
0,"AIRP,AL",1 d,1 d,1 d,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
1,"AIRP,AT",6 d,6 d,6 d,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
2,"AIRP,BA",3 d,3 d,4 d,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"AIRP,BE",6 d,5 d,5 d,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
4,"AIRP,BG",4 d,4 d,4 d,4,4,4,4,4,4,...,4,5,5,5,4,4,4,4,4,4

Air traffic by reporting airport and airlines

In [5]:
airtraffic = pd.read_csv("./datasets/avia_tf_apal.tsv", delimiter='\t')
airtraffic.head()

,"unit,tra_meas,airline,rep_airp\time",2023Q3,2023Q2,2023Q1,2023M10,2023M09,2023M08,2023M07,2023M06,2023M05,...,1998M04,1998M03,1998M02,1998M01,1998,1997Q4,1997Q3,1997Q2,1997Q1,1997
0,"MOVE,ACM,LIC_EU,BA_LQSA",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
1,"MOVE,ACM,LIC_EU,BA_LQTZ",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2,"MOVE,ACM,LIC_EU,BG_LBBG",:,:,93,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"MOVE,ACM,LIC_EU,BG_LBPD",:,:,268,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
4,"MOVE,ACM,LIC_EU,BG_LBSF",:,:,8279,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,: